<div class="inventory-filters spellbook-filters">
  <div class="flexrow spellcasting-misc">
    <div class="spellcasting-concentration flexrow">
      <div class="rollable image-d20"></div>
      <label><h3>{{localize "PF1.Concentration"}}</h3></label>
      <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationFormula"
      value="{{spellbook.orig.concentrationFormula}}" placeholder="{{localize "PF1.ConcentrationBonusFormula"}}" />
    </div>
    
    <div class="spellcasting-cl flexrow">
      <div class="rollable image-d20"></div>
      <label><h3>{{localize "PF1.CasterLevel"}}</h3></label>
      <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.cl.formula"
      value="{{spellbook.orig.cl.formula}}" placeholder="{{localize "PF1.CasterLevelBonusFormula"}}" />
    </div>
  </div>
  
  <a class="hide-show" data-for="spellbook-info_{{spellbookIndex}}">
    <i class="fas {{#if (lookup hiddenElems (concat "spellbook-info_" spellbookIndex))}}fa-arrow-circle-down{{else}}fa-arrow-circle-up{{/if}}"></i>
  </a>
  <div class="hide spellbook-info_{{spellbookIndex}} {{#if (lookup hiddenElems (concat "spellbook-info_" spellbookIndex))}}hidden{{/if}}">
    <div class="flexrow spellcasting-notes">
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.concentrationNotes" placeholder="{{localize "PF1.ConcentrationNotes"}}">{{spellbook.orig.concentrationNotes}}</textarea>
      <textarea name="data.attributes.spells.spellbooks.{{spellbookIndex}}.clNotes" placeholder="{{localize "PF1.CasterLevelNotes"}}">{{spellbook.orig.clNotes}}</textarea>
    </div>
    
    <div class="flexrow">
      <div class="flexcol">
        <div class="form-group spellcasting-class tooltip">
          <span class="tooltipcontent">@cl : {{spellbook.orig.cl.total}}</span>
          <label><h3>{{localize "PF1.SpellcastingClass"}}</h3></label>
          <select name="data.attributes.spells.spellbooks.{{spellbookIndex}}.class" data-dtype="String">
            {{#select spellbook.orig.class}}
            <option value="">{{localize "PF1.None"}}</option>
            <option value="_hd">{{localize "PF1.HitDie"}}</option>
            {{#each data.classes as |cls a|}}
            <option value="{{a}}">{{cls.name}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        
        <div class="form-group spellcasting-ability">
          <label><h3>{{localize "PF1.SpellcastingAbility"}}</h3></label>
          <select name="data.attributes.spells.spellbooks.{{spellbookIndex}}.ability" data-dtype="String">
            {{#select spellbook.orig.ability}}
            <option value="">{{localize "PF1.None"}}</option>
            {{#each data.abilities as |abl a|}}
            <option value="{{a}}">{{abl.label}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
        
        <div class="flexrow spell-failure">
          <label><h3>{{localize "PF1.ArcaneSpellFailure"}}</h3></label>
          <input type="text" disabled value="{{spellFailure}}%"/>
        </div>

        <div class="flexrow formulas">
          <label><h3>{{localize "PF1.BaseDCFormula"}}</h3></label>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.baseDCFormula"
          value="{{spellbook.orig.baseDCFormula}}" placeholder="{{localize "PF1.BaseDCFormula"}}" />
        </div>

        {{#if spellbook.orig.spellPoints.useSystem}}
        <div class="flexrow spell-points">
          <h3>{{localize "PF1.SpellPoints"}}</h3>
          <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.maxFormula"
          value="{{spellbook.orig.spellPoints.maxFormula}}" placeholder="{{localize "PF1.MaxFormula"}}" title="{{localize "PF1.MaxFormula"}}"/>
        </div>
        {{/if}}
      </div>
      
      <div class="flexcol caster-preferences">
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.autoSpellLevels"
          {{checked spellbook.orig.autoSpellLevels}}/> {{localize "PF1.AutomaticSpellSlots"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spontaneous"
          {{checked spellbook.orig.spontaneous}}/> {{localize "PF1.SpellPrepSpontaneous"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.arcaneSpellFailure"
          {{checked spellbook.orig.arcaneSpellFailure}}/> {{localize "PF1.ArcaneSpellFailure"}}
        </label>
        <label class="checkbox">
          <input type="checkbox" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.useSystem"
          {{checked spellbook.orig.spellPoints.useSystem}}/> {{localize "PF1.UseSpellPoints"}}
        </label>
      </div>
    </div>
  </div>
  
  <div class="flexrow spell-range">
    <label><h3>{{localize "PF1.DistClose"}}</h3></label>
    <input type="text" value="{{spellbook.orig.range.close}}" disabled />
    <label><h3>{{localize "PF1.DistMedium"}}</h3></label>
    <input type="text" value="{{spellbook.orig.range.medium}}" disabled />
    <label><h3>{{localize "PF1.DistLong"}}</h3></label>
    <input type="text" value="{{spellbook.orig.range.long}}" disabled />
  </div>
</div>

{{!-- Inventory Navigation --}}
<nav class="sheet-navigation tabs subtabs spells" data-group="spells_{{spellbookIndex}}">
  {{#each spellbook.data as |section sid|}}
  <a class="item" data-tab="spells_{{../spellbookIndex}}_{{sid}}">{{section.label}}</a>
  {{/each}}
  <a class="item" data-tab="spells_{{spellbookIndex}}_all">{{localize "PF1.All"}}</a>
</nav>

<section class="spells_{{spellbookIndex}}-body">
  <div class="spell-points-current flexrow">
    {{#if spellbook.orig.spellPoints.useSystem}}
    <h3>{{localize "PF1.SpellPoints"}}</h3>
    <div class="tooltip value">
      <span class="tooltipcontent">
        {{localize "PF1.SpellPointsCurrent"}}
      </span>
      <input type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.value"
      value="{{spellbook.orig.spellPoints.value}}" placeholder="0" data-dtype="Number" />
    </div>
    <span class="sep"> / </span>
    <div class="tooltip max">
      <span class="tooltipcontent">
        {{localize "PF1.SpellPointsMax"}}
      </span>
      <input disabled type="text" name="data.attributes.spells.spellbooks.{{spellbookIndex}}.spellPoints.max"
      value="{{spellbook.orig.spellPoints.max}}" placeholder="0" data-dtype="Number" />
    </div>
    {{/if}}
  </div>

  {{#each spellbook.data as |section sid|}}
  <div class="tab inventory-group flexcol" data-group="spells_{{../spellbookIndex}}" data-tab="spells_{{../spellbookIndex}}_{{sid}}">
    <ol class="inventory-list sub-scroll scroll-spells_{{../spellbookIndex}}">
      <li class="flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
          <h3>{{section.name}}</h3>
        </div>
        
        {{#unless ../spellbook.orig.spellPoints.useSystem}}
        <div class="spell-uses config">
          {{#if section.usesSlots}}
          <a class="config-icon config-control" for="spellSlots"><i class="fas fa-cog"></i></a>
          <input class="base submit-on-blur" type="text" name="data.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.base"
            value="{{section.baseSlots}}" placeholder="Base" data-dtype="Number" style="display: none" />
          <div class="tooltip">
            <span class="tooltipcontent">
              {{#unless ../spellbook.orig.spontaneous}}
              {{localize "PF1.LeftToPrepare"}}
              {{else}}
              {{localize "PF1.CastsLeft"}}
              {{/unless}}
            </span>
            <input type="text" class="spell-level-uses select-on-click" name="data.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.value" value="{{section.uses}}" placeholder="0" data-dtype="Number" />
          </div>
          <span class="sep"> / </span>
          <div class="tooltip">
            <span class="tooltipcontent">
              {{localize "PF1.SpellsTotalEachDay"}}
            </span>
            <input type="text" class="max-spell-level-uses select-on-click" disabled value="{{section.slots}}" placeholder="0" data-dtype="Number" />
          </div>
          {{ else }}
          <span class="spell-slots">{{{section.uses}}}</span>
          <span class="sep"> / </span>
          <span class="spell-max">{{{section.slots}}}</span>
          {{/if}}
        </div>
        {{/unless}}
        
        <div class="item-detail item-actions"><span>{{localize "PF1.ActionPlural"}}</span></div>

        <div class="spell-activation">{{localize "PF1.Action"}}</div>

        <div class="spell-components">{{localize "PF1.Components"}}</div>
        
        <div class="spell-school">{{localize "PF1.SpellSchool"}}</div>
        
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          {{/if}}
        </div>
      </li>
      
      <ol class="item-list">
        {{#each section.spells as |item i|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>{{item.name}}</h4>
          </div>
          
          {{#unless ../../spellbook.orig.spellPoints.useSystem}}
          <div class="spell-uses flexrow">
            {{#unless item.data.atWill}}
            {{#unless ../../spellbook.orig.spontaneous}}
            <div class="tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.Prepared"}}
              </span>
              <input class="select-on-click" type="text" value="{{item.data.preparation.preparedAmount}}" data-type="amount" data-dtype="Number"/>
            </div>
            <span class="sep"> / </span>
            <div class="tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.InitiallyPrepared"}}
              </span>
              <input class="select-on-click" type="text" value="{{item.data.preparation.maxAmount}}" data-type="max" data-dtype="Number"/>
            </div>
            {{else}}
            <a class="item-control item-toggle-data {{#if data.preparation.spontaneousPrepared}}enabled{{/if}}" data-name="data.preparation.spontaneousPrepared"
              title="{{#if data.preparation.spontaneousPrepared}}{{localize "PF1.Prepared"}}{{else}}{{localize "PF1.Unprepared"}}{{/if}}">
              <i class="fas fa-cog"></i>
            </a>
            {{/unless}}
            {{else}}
            {{localize "PF1.SpellPrepAtWill"}}
            {{/unless}}
          </div>
          {{/unless}}
          
          <div class="item-detail item-actions">
            <div class="item-attack tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.UseSpell"}}
              </span>
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
            </div>
          </div>

          <div class="spell-activation">{{labels.activation}}</div>
          
          <div class="spell-components">{{labels.components}}</div>
          
          <div class="spell-school">{{labels.school}}</div>
          
          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
    </ol>
  </div>
  {{/each}}
  <div class="tab inventory-group flexcol" data-group="spells_{{spellbookIndex}}" data-tab="spells_{{spellbookIndex}}_all">
    <ol class="inventory-list sub-scroll scroll-spells_{{spellbookIndex}}">
      {{#each spellbook.data as |section sid|}}
      <li class="flexrow inventory-header spellbook-header">
        <div class="item-name flexrow">
          <h3>{{section.name}}</h3>
        </div>
        
        {{#unless ../spellbook.orig.spellPoints.useSystem}}
        <div class="spell-uses config">
          {{#if section.usesSlots}}
          <a class="config-icon config-control" for="spellSlots"><i class="fas fa-cog"></i></a>
          <input class="base submit-on-blur" type="text" data-name="data.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.base"
            value="{{section.baseSlots}}" placeholder="Base" data-dtype="Number" style="display: none" />
          <div class="tooltip">
            <span class="tooltipcontent">
              {{#unless ../spellbook.orig.spontaneous}}
              {{localize "PF1.LeftToPrepare"}}
              {{else}}
              {{localize "PF1.CastsLeft"}}
              {{/unless}}
            </span>
            <input type="text" class="spell-level-uses select-on-click" value="{{section.uses}}" data-name="data.attributes.spells.spellbooks.{{../spellbookIndex}}.spells.spell{{section.level}}.value" placeholder="0" data-dtype="Number" />
          </div>
          <span class="sep"> / </span>
          <div class="tooltip">
            <span class="tooltipcontent">
              {{localize "PF1.SpellsTotalEachDay"}}
            </span>
            <input type="text" class="max-spell-level-uses"disabled value="{{section.slots}}" placeholder="0" data-dtype="Number" />
          </div>
          {{ else }}
          <span class="spell-slots">{{{section.uses}}}</span>
          <span class="sep"> / </span>
          <span class="spell-max">{{{section.slots}}}</span>
          {{/if}}
        </div>
        {{/unless}}
        
        <div class="item-detail item-actions"><span>{{localize "PF1.ActionPlural"}}</span></div>

        <div class="spell-activation">{{localize "PF1.Action"}}</div>
        
        <div class="spell-components">{{localize "PF1.Components"}}</div>
        
        <div class="spell-school">{{localize "PF1.SpellSchool"}}</div>
        
        <div class="item-controls">
          {{#if section.canCreate}}
          <a class="item-control item-create" title="{{localize "PF1.CreateItem"}}" {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
            <i class="fas fa-plus"></i> {{localize "PF1.Add"}}
          </a>
          {{/if}}
        </div>
      </li>
      
      <ol class="item-list">
        {{#each section.spells as |item i|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name flexrow rollable">
            <div class="item-image" style="background-image: url({{item.img}})"></div>
            <h4>{{item.name}}</h4>
          </div>
          
          {{#unless ../../spellbook.orig.spellPoints.useSystem}}
          <div class="spell-uses flexrow">
            {{#unless item.data.atWill}}
            {{#unless ../../spellbook.orig.spontaneous}}
            <div class="tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.Prepared"}}
              </span>
              <input class="select-on-click" type="text" value="{{item.data.preparation.preparedAmount}}" data-type="amount" data-dtype="Number"/>
            </div>
            <span class="sep"> / </span>
            <div class="tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.InitiallyPrepared"}}
              </span>
              <input class="select-on-click" type="text" value="{{item.data.preparation.maxAmount}}" data-type="max" data-dtype="Number"/>
            </div>
            {{else}}
            <a class="item-control item-toggle-data {{#if data.preparation.spontaneousPrepared}}enabled{{/if}}" data-name="data.preparation.spontaneousPrepared"
              title="{{#if data.preparation.spontaneousPrepared}}{{localize "PF1.Prepared"}}{{else}}{{localize "PF1.Unprepared"}}{{/if}}">
              <i class="fas fa-cog"></i>
            </a>
            {{/unless}}
            {{else}}
            {{localize "PF1.SpellPrepAtWill"}}
            {{/unless}}
          </div>
          {{/unless}}
          
          <div class="item-detail item-actions">
            <div class="item-attack tooltip">
              <span class="tooltipcontent">
                {{localize "PF1.UseSpell"}}
              </span>
              <a class="item-control item-attack"><img class="icon" src="systems/pf1/icons/actions/gladius.svg"></a>
            </div>
          </div>

          <div class="spell-activation">{{labels.activation}}</div>
          
          <div class="spell-components">{{labels.components}}</div>
          
          <div class="spell-school">{{labels.school}}</div>
          
          {{#if ../../owner}}
          <div class="item-controls">
            <a class="item-control item-edit" title="{{localize "PF1.EditItem"}}"><i class="fas fa-edit"></i></a>
            <a class="item-control item-duplicate" title="{{localize "PF1.DuplicateItem"}}"><i class="fas fa-copy"></i></a>
            <a class="item-control item-delete" title="{{localize "PF1.DeleteItem"}}"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>
        {{/each}}
      </ol>
      {{/each}}
    </ol>
  </div>
</section>
